body {
    background: linear-gradient(68.5deg, #2E208E 16.57%, #9B56A6 100.9%);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.bg-circle {
    background: linear-gradient(157.28deg, #DF40A9 7.22%, #4D35A3 57.07%);
    width: 600px;
    height: 600px;
    border-radius: 100%;
    position: absolute;
    opacity: .6;
    z-index: -1;
}

.bg-circle.circle-top {
    transform: rotate(180deg);
    top: -100px;
    left: -100px;
}

.bg-circle.circle-bottom {
    right: -100px;
    bottom: -100px;
}

.form-timer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.form-timer > input {
    margin-right: 20px;
    padding: 0 10px;
    font-size: 15px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: #2E208E;
    color: #FFF;
}

.form-timer > button {
    font-size: 15px;
    height: 40px;
    border: none;
    padding: 0 20px;
    font-weight: bold;
    background: #2E208E;
    color: #FFFFFF;
    transition: .3s;
    border-radius: 8px;
}

.form-timer > button:hover {
    cursor: pointer;
    opacity: .8;
}

#content-hour {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 150px;
}

.box {
    height: 160px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 92px;
    color: #FFF;
    font-weight: bolder;
    background: rgba(355, 355, 355, .2);
}


.hidden {
    display: hidden;
}

.stop-button-div {
    margin: auto;
    margin-top: 80px;
    background: none;
    display: flex;
    justify-content: center;
}

.stop-button-div > button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    outline: none;
    border: none;
    background: #AC42A5;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    transition: .3s;
}

.stop-button-div > button:hover {
    opacity: .7;
    cursor: pointer;
}